name: Import missing ReMix info

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

jobs:
  import-missing:
    name: Import missing ReMix info
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Import missing ReMix info
        run: sh ci/import-missing.sh

      - name: Commit and push if changes
        id: commit
        run: sh ci/commit-and-push.sh
        env:
          COMMIT_MESSAGE: Import missing ReMix info

      - name: Dispatch workflow to build pages
        if: steps.commit.outputs.pushed == 'true'
        run: gh workflow run github-pages.yaml
        env:
          GH_TOKEN: '${{ github.token }}'
