name: Update ReMix info

on:
  schedule:
    - cron: '30 * * * *'
  workflow_dispatch:
    inputs:
      limit:
        default: 10
        description: Number of ReMixes to update
        required: true
        type: number

permissions:
  actions: write
  contents: write

jobs:
  update-remix-info:
    name: Update ReMix info
    runs-on: ubuntu-latest
    steps:

      - name: Check out
        uses: actions/checkout@v4

      - name: Update ReMix info (on schedule)
        if: github.event_name == 'schedule'
        run: docker compose run --no-TTY --rm --user="$(id --user):$(id --group)" update

      - name: Update ReMix info (on workflow_dispatch)
        if: github.event_name == 'workflow_dispatch'
        run: docker compose run --no-TTY --rm --user="$(id --user):$(id --group)" update --limit ${{ inputs.limit }}

      - name: Commit and push if changes
        id: commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add --all
          git commit --message="Update ReMix info" && echo "pushed=true" >> $GITHUB_OUTPUT || exit 0
          git push

      - name: Dispatch workflow to build pages
        if: steps.commit.outputs.pushed == 'true'
        run: gh workflow run github-pages.yaml
        env:
          GH_TOKEN: ${{ github.token }}
